/* .nav-button {
  padding: 20px;
  margin: 10px;
}
.me-auto {
  padding: 20px;
  margin: 10px;
} */
#home {
  padding: 20px;
}
#friends {
  padding: 20px;
}
#about {
  padding: 20px;
}
#culture {
  padding: 20px;
}
